﻿@model IEnumerable<DAL.JobSeeker>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="/Scripts/angular.min.js"></script>
<script src="/Scripts/JobSeeker/Module.js"></script>
<script src="/Scripts/JobSeeker/Service.js"></script>
<script src="/Scripts/JobSeeker/Controller.js"></script>
<div ng-controller="myCntrl">
    <div class="heading_part">
        <div class="center_container"><h2>Dashboard</h2></div><!---center_container--->
    </div><!---heading_part--->

    <div class="header_fullparts">
        <div class="center_container">
            <div class="col-xs-6 col-sm-3 parts_fullparts dashboard_parts">
                <h2>{{employees.length}}</h2>
                <p>Number of CVS</p>
            </div>

            <div class="col-xs-6 col-sm-3 parts_fullparts dashboard_parts">
                <h2>5 <!--span><img src="images/email.png"/></span--></h2>
                <p>Number of Jobs</p>
            </div>

            <div class="col-xs-6 col-sm-3 parts_fullparts dashboard_parts">
                <h2>2 <!--span><img src="images/positon.png"/></span--></h2>
                <p>Sales</p>
            </div>

            <div class="col-xs-6 col-sm-3 parts_fullparts dashboard_parts">
                <h2>3 <!--span><img src="images/LAST.png"/></span--></h2>
                <p>Outstanding</p>
            </div>
        </div><!---center_container--->
    </div> <!---header_fullparts--->



    <div class="main_box_pernolinfo">
        <div class="col-xs-12 col-sm-6 cv_box">
            <h1 class="c_v">CV</h1>

            <table class="table-responsive cv_table">

                <tr style="background: #CCCCCC;">
                    <th class="dropdown">Name</th>
                    <th class="dropdown">Type</th>
                    <th class="dropdown">Salary</th>
                    <th class="dropdown">CV</th>
                    <th class="dropdown">Interveiw</th>
                    <th class="dropdown">Rating</th>
                </tr>
                <tr ng-repeat="employee in employees">
                    <td style="cursor:pointer;" ng-click="editEmployee(employee)">{{employee.Name}}</td>
                    <td>{{employee.Typeofposition}}</td>
                    <td>{{employee.Salary}}</td>
                    <td><a target="_blank" href="~/Content/Upload/Cv/{{employee.CV}}"><img style="width:18px;" src="../content/images/pdf.png" /></a></td>
                    <td><input onclick="return false" ng-checked="employee.IsInterview" ng-model="employee.IsInterview" name="chkJobSeeker" id="{{employee.Id}}" type="checkbox" /></td>
                    <td>{{employee.Rating}}</td>
                </tr>
            </table>
        </div>

        <div class="col-xs-12 col-sm-6 testimonial_part drill_down">
            <h1 class="c_v">CV Drilldown</h1>
            <div class="col-xs-12 col-sm-12 text_drilldown">
                <b>{{Name}}</b>
                <p>Imformation that is collected.</p>
                <p>Lorem Ipsum doller to set the content tin for the togather to set timing the program to epsum contest to set.</p>
                <input type="checkbox" ng-model=IsActive ng-checked="{{IsActive}}" name="IsActive" /> Is Active ?<br />
                <input type="checkbox" ng-model=IsInterview ng-checked="{{IsInterview}}" name="IsInterview" /> Is Interview ?

                <p><textarea ng-model="Feedback" placeholder="Multitext"></textarea></p>
                <p>
                    <div class="form-group">
                        <div style="float:left;width:200px;">
                            <input type="submit" value="Update" class="btn btn-primary" ng-click="UpdateEmployee()" />
                        </div>
                    </div>
                </p>
                <p class="text-right">
                    <select data-ng-options="o.name for o in options" data-ng-model="selectedOption"></select>
                </p>
            </div>
        </div>
    </div>  <!---main_box_pernolinfo--->
</div>