﻿@model Model.JobSeeker

@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="heading_part">
    <div class="center_container"><h2>Update Your CV</h2></div><!---center_container--->
</div>

    @using (Html.BeginForm("Update", "JobSeeker", FormMethod.Post, new { @class = "form-vertical", role = "form1", @autocomplete = "off", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.CreatedOn)
        @Html.HiddenFor(model => model.CV)
        @Html.HiddenFor(model => model.IsActive)
        @Html.HiddenFor(model => model.IsDeleted)

        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <div class="header_fullparts">
            <div class="center_container">
                <div class="col-xs-6 col-sm-3 parts_fullparts">
                    <h2>Name</h2>
                    @Html.TextBoxFor(model => model.Name, new { @placeholder = "Enter your name" })
                </div>

                <div class="col-xs-6 col-sm-3 parts_fullparts">
                    <h2>Email</h2>
                    @Html.TextBoxFor(model => model.Email, new { @placeholder = "Email Address" })
                </div>

                <div class="col-xs-6 col-sm-3 parts_fullparts">
                    <h2>Position</h2>
                    @Html.TextBoxFor(model => model.Position, new { @placeholder = "Current position" })
                </div>

                <div class="col-xs-6 col-sm-3 parts_fullparts">
                    <h2>CV</h2>
                    <input type="file" name="file" class="file" style="margin-left:-2px;border:none;">
                </div>
            </div>
        </div>

        <div class="persnol_imformation">
            <div class="center_container">
                <h1>Persnol Imformation</h1>
            </div>
        </div> 

        <div class="main_box_pernolinfo">
            <div class="col-xs-12 col-sm-6 text_boxes">

                <p>@Html.TextBoxFor(model => model.Mobile, new { @placeholder = "Mobile phone number" })</p>
                <p>@Html.TextBoxFor(model => model.Salary, new { @placeholder = "Current salary" })</p>
                <p>@Html.TextAreaFor(model => model.Typeofposition, new { @placeholder = "What type of Position Are you looking For?" })</p>
                <p>@Html.TextAreaFor(model => model.workplace, new { @placeholder = "Where you you want to work? in Sri Lanka or somewhere else in the world?" })</p>
                <div class="form-group">
                    <div>
                        <input type="submit" value="Update" class="btn btn-primary" />
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 testimonial_part">
                <div class="col-xs-6 col-sm-7 text_testimonial">
                    <p>Hi</p>
                    <p>
                        Upload your CV to my website and I will do my best to find a new position for you. I can not promise anything, but I will give you feedback during the process. I suggest to check your email or keep your mobile with you.
                    </p>
                    <p class="text-right"><img src="~/content/images/IMG_24052016_114029.png" /></p>
                </div>
                <div class="col-xs-6 col-sm-5 img_testimonial">
                    <img class="img-circle" src="~/content/images/lady.png" />
                </div>
            </div>
        </div>
        
        
    }

