﻿<!DOCTYPE html>
<html lang="en" class="app">

<head>
    <meta charset="utf-8" />
    <title>Scale | Web Application</title>
    <meta name="description" content="app, web app, responsive, admin dashboard, admin, flat, flat ui, ui kit, off screen nav" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="stylesheet" href="~/content/css/app.v1.css" type="text/css" />
    <link rel="stylesheet" href="~/content/js/calendar/bootstrap_calendar.css" type="text/css" />

</head>
<body>


    <section class="hbox stretch">
        @RenderBody()
    </section>

    <script src="~/content/js/app.v1.js"></script>
    <script src="~/content/js/charts/easypiechart/jquery.easy-pie-chart.js"></script>
    <script src="~/content/js/charts/sparkline/jquery.sparkline.min.js"></script>
    <script src="~/content/js/charts/flot/jquery.flot.min.js"></script>
    <script src="~/content/js/charts/flot/jquery.flot.tooltip.min.js"></script>
    <script src="~/content/js/charts/flot/jquery.flot.spline.js"></script>
    <script src="~/content/js/charts/flot/jquery.flot.pie.min.js"></script>
    <script src="~/content/js/charts/flot/jquery.flot.resize.js"></script>
    <script src="~/content/js/charts/flot/jquery.flot.grow.js"></script>
    <script src="~/content/js/charts/flot/demo.js"></script>
    <script src="~/content/js/calendar/bootstrap_calendar.js"></script>
    <script src="~/content/js/calendar/demo.js"></script>
    <script src="~/content/js/sortable/jquery.sortable.js"></script>
    <script src="~/content/js/app.plugin.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)
</body>

</html>