﻿<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" href="../../favicon.ico" />
    <link rel="text/css" href="https://productforums.google.com/forum/#!topic/blogger-pt/." />
    <title>Gitanjali Hotels</title>
    <!-- Bootstrap core CSS -->
    <link href="~/content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/content/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="~/content/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/content/js/jssor.slider.mini.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>


    <script type="text/javascript">
        $(document).ready(function () {

            var Login = localStorage.getItem('Login');
          
            if (Login != 'Login') {
                $("#LoginPanel").css('display', 'block');
                $("#LogoutPanel").css('display', 'none');
            }
            else
            {
                $("#LoginPanel").css('display', 'none');
                $("#LogoutPanel").css('display', 'block');
            }

            $("#LogoutPanel a").click(function () {
                localStorage.setItem('Login', '');
            });

        });

    </script>
</head>
<body>
    <div id="wrapper">
        <div class="container">

            <div class="header">
                <div class="head_container">
                    <div class="logo">
                        <h1>Logo</h1>
                    </div>
                    <div class="text_hotel">
                        <h2>Gitanjali Hotel Staffing</h2>
                    </div>


                    <div class="login_btn" id="LogoutPanel" style="display:none;">
                        <span>Welcome : Admin <a href="/login.html">Logout</a></span>
                    </div>
                  

                    <div class="login_btn" id="LoginPanel">
                        <a href="/login.html"><img src="~/content/images/login.jpg" /> &nbsp; Login</a>
                    </div>

                    <div class="toggle_part">

                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img src="~/content/images/toggle.png" /><!--span class="caret"></span--></a>
                        <ul class="dropdown-menu menu_drop">
                            <li><a href="~/jobSeeker/List">CV</a></li>
                            <li><a href="~/hotelowner/">Jobs</a></li>
                            <li><a href="~/hotelowner/">Sales</a></li>
                            <li><a href="~/hotelowner/">Outstanding</a></li>

                        </ul>
                    </div>

                </div>
            </div>

            @RenderBody()

        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)
</body>
</html>