﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="banner ">
    <div class="banner_center">
        <h2>Seeking New Opportunities?</h2>

        <a class="banner_btn" href="jobseeker/registration">Submit Your CV</a>

    </div>

</div>

<div class="three_pannel">
    <div class="col-xs-12 col-sm-offset-1 col-sm-4 pannel_green text-center">
        <div class="img-circle circle_round"><h1>1</h1></div>
        <p>Submit your CV with me online</p>
    </div>


    <div class="col-xs-12 col-sm-3 pannel_green pannel_green_middle text-center">
        <div class="img-circle circle_round"><h1>2</h1></div>
        <p>I will contact my partner hotels to see what is avilable for you.</p>
    </div>

    <div class="col-xs-12 col col-sm-4 pannel_green text-center">
        <div class="img-circle circle_round"><h1>3</h1></div>
        <p>I will contact you when i find you a new job.</p>
    </div>
</div>

<div class="help_u">
    <h1>How Can I Help You ?</h1>
    <div class="col-xs-12 col-sm-12" style="padding-top:30px;">

        <div class="col-xs-12 col-sm-6">
            <div class="col-xs-12 col-sm-12 help_part">
                <h2>For hotel</h2>
                <p>Submit your vacancies with me to get a wider selection of professions to choose from.</p>
                <input type="button" name="btn" value="Submit a Vacancy" />
            </div>
        </div>

        <div class="col-xs-12 col-sm-6">
            <div class="col-xs-12 col-sm-12 help_part">
                <h2>For jobseekers</h2>
                <p>Submit your CV with me to reach more hotels</p>
                <input type="button" name="btn" value="Submit Your VC" />
            </div>
        </div>

    </div>
</div>

<div class="about_us">
    <div class="container_about">
        <h3>About </h3>
        <div class="col-xs-12 col-sm-12 out_bg" style="background:#fff;overflow:hidden;">
            <div class="col-xs-12 inner_bg" style="background:#f1f2f4;overflow:hidden;">
                <div class="col-xs-5 col-sm-2 circle_box">
                    <img class="img-circle" src="~/content/images/photo.jpg" />
                </div>
                <div class="col-xs-12 col-sm-10">
                    <p>
                        Lorem ipsum doller to set the prohram to seth te main course the it connect the main paert t to some the edicute the osum to conternt to set the main program to educate the main box to ipsum doller to set the prohram to seth te main course the it connect the main paert t to some the edicute the osum to conternt to set the ma
                        ipsum doller to set the prohram to seth te main course the it connect the main paert t to some the edicute the osum to conternt to set the ma
                        the main box to ipsum doller to set the prohram to seth te main course the it connect the main paert t to some the edicute the osum to conternt to set theset the prohram to seth te main course the it connect the main paert t to some the edicute the osum to conternt to set the ma
                        ipsum doller to set the prohram to seth te main course the it connect the main paert t to some the edicute the osum to conternt to set.
                    </p>
                    <p class="text-left"><img src="~/content/images/fotter.png" /></p>
                </div>
            </div>
        </div>
    </div>
</div>