*
{
padding:0px;
margin:0px;
}
body
{
 
font-family: 'Open Sans', sans-serif !important;

}


a ul li h1 h2 h2 p
{
text-decoration:none;
list-style:none;

font-weight:300;

}
@font-face{
 font-family:Eras Medium ITC;
 src:url("http://www.myfontfree.com/data/54/e/eras-medium-itc/ERASMD.TTF");
}
#wrapper
{
width:100%;
margin:0px auto;
overflow:hidden;
max-width:1400px;
background:#f5f5f5;
}
.container
{
width:999px;
max-width:100%;
margin:30px auto;
overflow:hidden;
}
.header
{
width:100%;
background:#fff;
border-top:1px solid #b3b3b3;
border-right:1px solid #b3b3b3;
border-left:1px solid #b3b3b3;
position:relative;
}

.logo h1
{
font-size:18px;
padding:8px;
border:1px solid #111;
text-align:center;
}
.logo 
{
width:7%;
float:left;
margin-left:5px;
}
.head_container
{
overflow:hidden;
}

.text_hotel
{
width:60%;
text-align:center;
float:left;
}
.text_hotel h2
{
font-weight:700;
color:#111;
}

.login_btn
{
float:left;
width:18%;
text-align:right;
padding-top:20px;
}
.login_btn a
{
font-weight:600;
text-decoration:none;
color:#3d3d7a;
}

.toggle_part
{
width:8%;
float:right;
background:#000033;
text-align:center;
}

.toggle_part i
{
color:#fff;
font-size:30px;
padding:19px 0px;
}


/* -------------Banner---------------*/
.banner
{
width:100%;
overflow:hidden;
background:#e2e2e2;
padding:100px 0px;
}
.banner_center
{
width:80%;
margin:0px auto;

text-align:center;
}

.banner_center h2
{
color:#111;
text-align:center;
font-weight:700;
margin-bottom:70px;
}

.banner_btn
{
background:#d39c2f;
border:1px solid #111;
font-size:24px;
padding:13px 20px;
font-weight:700;
color:#111;
border-radius:5px;
margin:70px auto 0px auto;
}
.banner_btn:hover 
{
text-decoration:none;
}

/*----------------- End OF Banner-----------*/

/*----------------- start of green pannel-----------*/
.three_pannel
{
width:100%;
overflow:hidden;
background:#aac117 url(../images/backgroun_img.jpg) no-repeat;
  background-position: 315px 48px;
  background-size:390px;
}

.pannel_green h1
{
font-family: georgia;
    font-size: 80px;
    font-weight: 300;
    padding-top: 6px;
 color:#fff;
}

.circle_round
{
background:#b7ca3a;
width:120px;
height:120px;
margin:0px auto;
margin-top:50px;
}

.pannel_green p {
    color: #ffffff;
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 50px;
}
.pannel_green_middle p
{
padding-left: 0px !important;
    padding-right: 0px !important;
}
.pannel_green 
{
border-right:1px solid #bacc42;
height:400px;
}

/*-----------------End of green pannel-----------*/

/*-----------------Start of help-----------*/
.help_u 
{
width:100%;
overflow:hidden;
background:#fff;
padding-bottom:50px;
}

.help_u h1
{
color:#111;
text-align:center;
border-bottom:2px solid #ccc;
padding:10px 0px;
font-weight:700;
}


.help_part 
{
border:1px solid #111;
padding:35px 45px;
text-align:center;
height:350px;
}

.help_part:hover
{
background:#e2e2e2;
}
.help_part input
{
background:#d39c2f;
border:1px solid #111;
font-size:18px;
padding:20px 28px;
font-weight:700;
color:#fff;
border-radius:5px;
margin:10px auto 0px auto;
bottom:40px;
left:106px;
position:absolute;
text-transform:uppercase;
}



.help_part h2
{
font-weight:700;
color:#111;
text-align:left;
}
.help_part p
{
color:#111;
font-family:Arial, Helvetica, sans-serif;
text-align:left;
font-size:18px;
margin-top:40px;
}
/*-----------------End of help us-----------*/


/*-----------Statrt of bout us----------*/

.about_us
{
background:#3c3d3f;
overflow:hidden;
width:100%;
padding:70px 0px;
}
.container_about 
{
margin:0px auto;
width:80%;
overflow:hidden;
}

.container_about h3
{
font-size:18px; 
color:#FFFFFF;
padding-bottom:10px;
border-bottom:2px solid #5d5e60;
margin-top:0px;
padding-left:15px;
}
.out_bg
{
padding:20px;
}
.inner_bg
{
padding:20px;
}
.circle_box
{


}

.circle_box img
{
width:100%;
overflow:hidden;border:2px solid #fff;

}

/*-----------End of about us----------*/



/*--------------------------------Persnol Imformation PAGE-------------------------------------*/

.heading_part
{
width:100%;
overflow:hidden;
background:#29363e;
}
.heading_part h2
{
color:#fff;
font-size:18px;
margin:8px 0px;
}

.center_container
{
width:85%;
overflow:hidden;
margin:0px auto;
}
.parts_fullparts h2
{
border-bottom:1px solid #999;
color:#fff;
padding-bottom:5px;
font-weight:700;
font-size:24px;
}
.parts_fullparts h2 span
{
float: right;
    margin-right: 10px;
    margin-top: 5px;
    text-align: right;
}

.header_fullparts
{
background:#556b78;
}
.parts_fullparts
{
MARGIN-bottom:10px;
margin-top:20px;
}
.parts_fullparts input
{
margin-bottom:20px;
border:1px solid #111;
padding: 2px 0px 2px 4px;
}


.persnol_imformation
{
background:#0ec2f3;
}


.persnol_imformation h1
{
font-size:24px;
color:#fff;
margin:10px 0px;
}


.main_box_pernolinfo
{
width:100%;
overflow:hidden;
}

.text_boxes
{
background:#e8f5fb;
padding:30px 50px;
}

.text_boxes p
{
margin-bottom:25px;
}
.text_boxes p input
{
width:50%;
border:1px solid #111;
    padding: 2px 0px 2px 4px;
}


.text_boxes p textarea
{
width:100%;
border:1px solid #111;
padding:5px;
vertical-align:bottom
}

.testimonial_part
{
background:#f0f8fb;
padding-top:50px;
padding-bottom:18px;
}

.img_testimonial img
{
border:2px solid #ccc;
}



/*--------------------------------END OF Persnol Imformation PAGE-------------------------------------*/

.cv_box
{
background:#e8f5fb;
padding:0px 0px 42px 0px;
}

.c_v
{
width:100%;
padding:10px 35px;
background:#0ec2f3;
border-right:1px solid #e8f5fb;
margin:0px;
font-size:24px;
color:#fff;
}

.cv_table
{
width:90%;
margin:25px;
}
.cv_table tr th
{
padding:10px ;border:1px solid #222;
font-weight:500;
}

.cv_table tr td
{
padding:5px ;
border:1px solid #222;
}



.drill_down
{
padding:0px;
}

.text_drilldown b {
    float: left;
    font-size: 18px;
    margin-bottom: 30px;
    width: 100%;
}
.text_drilldown p
{
margin-bottom:20px;
}
.text_drilldown
{
margin-top:20px;
}
.text_drilldown textarea
{
width:100%;
height:100px;
padding:10px;
}
.dashboard_parts p
{
font-size:10px;
color:#fff;
}
.dashboard_parts h2
{
padding-left:16px;
}

.dashboard_parts:last-child h2
{
color:#f2e21a;
}


/*--------------------------------Media Querry--------------------------------------*/
 @media screen and (max-width: 999px) 
 {
 
 .pannel_green p
 {
 padding:20px 10px;
 }
 .three_pannel
 {
   background-position: 260px 30px;
   background-size: 38% auto;
 }
 
 
 }


 @media screen and (max-width: 864px) 
{
.three_pannel {
    background-position: 213px 30px;
    background-size: 39% auto;
}
.help_part p
{
line-height:22px;
margin-top:20px;
}
}
@media screen and (max-width: 769px) 
{
.three_pannel {
    background-position: 97px 357px;
    background-size: 60% auto;
}
.pannel_green
{
border-bottom:1px solid #ccc;
height:350px;
overflow:hidden;
}
}

@media screen and (max-width: 639px) 
{
.three_pannel {
    background-position: 73px 378px;
    background-size: 61% auto;
}
.logo
{
width:100px;
}
.text_hotel
{
width:72%;

}

.text_hotel h2
{
font-size:24px;
}
.login_btn
{
width:76%;
text-align:left;
padding-left:10px;
}

.toggle_part 
{
width:20%;
}


}


@media screen and (max-width: 464px)
{
.three_pannel {
    background-position: -9px 359px;
    background-size: 100% auto;
}
.parts_fullparts
{
width:100%;
}
.text_hotel {
    width: 100%;
}

.text_testimonial
{
width:100%;
}
.img_testimonial
{
width:100%
}
}






.menu_drop
{
left:inherit !important;
right:0;
}

.toggle_part img
{
width:94%;
}

input[class*=input-validation-error]
{
    border:1px solid #FF0000!important;
}

/*---------------------------LOGIN PAGE Csss--------------------------*/
